# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Migrations
migrations/
!migrations/__init__.py

# Environment variables
.env

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
